@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=PT+Sans:wght@400;700&display=swap')

@import 'vars'

*
    margin: 0
    padding: 0
    box-sizing: border-box

::-webkit-scrollbar 
  width: 0


body
    background-color: $backgroundColor

h2
    font-family: 'Montserrat', sans-serif
    font-size: 48px
    font-style: normal  
    font-weight: 500
    line-height: 120%
    olor: $textColorB

p
    font-family: 'PT Sans', sans-serif
    font-size: 20px
    font-style: normal
    font-weight: 400
    line-height: 140%
    letter-spacing: 0.08px
    color: $textColorB

img
    border: none
    color: none
    
a
    text-decoration: none

.container
    max-width: 1285px
    padding-left: 23px
    padding-right: 22px
    margin-right: 100px 
    margin: 0 auto

/* Header */

header
    border-bottom: 1px solid #000
    background: #F2F2F2

.header
    padding-top: 60.5px
    display: flex
    align-items: center
    flex-direction: row
    justify-content: space-between

    &__logo
        max-width: 220px
        margin-bottom: -2.5px

    &__nav
        display: flex
        gap: 60px
        

    &__link
        color: $textColorB
        font-family: PT Sans
        font-size: 16px
        font-style: normal
        font-weight: 400
        line-height: 130%
        position: relative
        transition: 0.5s  
        padding-top: 10px 
        padding-bottom: 10px  

    &__link::before
        content: ''
        position: absolute
        left: 0
        bottom: 7px
        width: 0
        height: 1px
        background-color: $textColorB
    
    &__link:hover:before 
        width: 100%
    
    &__link::before
        transition: width 0.5s 

/* Banner */

.banner
    background: linear-gradient(261deg, #23145F 2.4%, #0D023D 98.97%)
    position: relative
    height: 72.8vh

.banner-left
    display: flex
    flex-direction: column
    justify-content: center
    height: 55vh
    margin-left: -4.5px

    &__title
        color: $textClorW
        font-family: Montserrat
        font-size: 56px
        font-style: normal
        font-weight: 500
        line-height: 120%
        letter-spacing: 0.28px
        margin-bottom: 22.5px
        margin-left: -1.5px
        z-index: 10

    &__subtitle
        color: $textClorW
        font-family: PT Sans
        font-size: 24px
        font-style: normal
        font-weight: 400
        line-height: 140%
        letter-spacing: 0.096px
        max-width: 580px
        margin-bottom: 40px
        margin-left: 2px

    &__buttons
        display: flex
        gap: 51px
        
    &__button-link
        color: $textClorW
        font-family: PT Sans
        font-size: 16px
        font-style: normal
        font-weight: 400
        line-height: 130%
        padding: 17px 32px
        border: 1px solid #FFF
        box-shadow: 0px 4px 8px 0px rgba(13, 4, 51, 0.15), 0px 0px 4px 0px rgba(13, 4, 51, 0.04)
        margin-left: 3.6px
        transition: 0.5s

    &__button-link:hover
        background: #F6BA60
        color: $textColorB
        margin-top: -15px
        margin-bottom: 15px

    &__button-form
        color: $textColorB
        font-family: PT Sans
        font-size: 16px
        font-style: normal
        font-weight: 400
        line-height: 130%
        padding: 16px 53px
        background: #D09B4B
        border: 1px solid #D9D9D9
        box-shadow: 0px 4px 8px 0px rgba(13, 4, 51, 0.15), 0px 0px 4px 0px #0D0433
        transition: 0.5s   


    &__button-form:hover
        margin-top: -15px
        margin-bottom: 15px
        box-shadow: 0 0 15px #D09B4B

.banner-right

    &__img
        position: absolute
        top: 0
        right: 0
        height: 72.8vh

/* About company */ 

.aboutСompany
    background: $backgroundColor
    position: relative

.overlay
    position: absolute
    top: -154px
    left: calc(50vw - $widthSite/2)
    max-width: 1330px

.company
    background: $backgroundColor
    padding-top: 75px
    display: flex
    gap: 18.4%
    margin-bottom: 40px

    &__img
        margin-left: 52px
        width: 100%
        height: 100%

.company-description
    display: flex
    flex-direction: column
    gap: 20px
    margin-top: 78px
    

    &__p
        margin-right: 60px

.advantages
    
    &__title
        display: flex
        justify-content: center
        margin-bottom: 40px
        

    &__p-box
        display: flex
        gap: 250px
        align-items: center
        margin-bottom: 300px
        // margin-right: 95px
        // margin-left: 15px
        // margin-left: 0px
        transition: 2s

    // &__p-box:hover
    //     margin-left: 10px
        
        
        

    &__p
        position: absolute
        width: 159px
        margin-left: 40px
    
    &__p-big
        width: 224px

    &__p-border
        position: relative
        width: 107px
        height: 107px
        border-top: 8px solid #F9DC78
        border-bottom: 8px solid #F9DC78
        border-left: 8px solid #F9DC78
        display: flex
        align-items: center