@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=PT+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F2F2F2;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  olor: #000;
}

p {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.08px;
  color: #000;
}

img {
  border: none;
  color: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1285px;
  padding-left: 23px;
  padding-right: 22px;
  margin: 0 auto;
}

/* Header */
header {
  border-bottom: 1px solid #000;
  background: #F2F2F2;
}

.header {
  padding-top: 60.5px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header__logo {
  max-width: 220px;
  margin-bottom: -2.5px;
}
.header__nav {
  display: flex;
  gap: 60px;
}
.header__link {
  color: #000;
  font-family: PT Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  position: relative;
  transition: 0.5s;
  padding-top: 10px;
  padding-bottom: 10px;
}
.header__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 7px;
  width: 0;
  height: 1px;
  background-color: #000;
}
.header__link:hover:before {
  width: 100%;
}
.header__link::before {
  transition: width 0.5s;
}

/* Banner */
.banner {
  background: linear-gradient(261deg, #23145F 2.4%, #0D023D 98.97%);
  position: relative;
  height: 72.8vh;
}

.banner-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 55vh;
  margin-left: -4.5px;
}
.banner-left__title {
  color: #FFF;
  font-family: Montserrat;
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.28px;
  margin-bottom: 22.5px;
  margin-left: -1.5px;
  z-index: 10;
}
.banner-left__subtitle {
  color: #FFF;
  font-family: PT Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.096px;
  max-width: 580px;
  margin-bottom: 40px;
  margin-left: 2px;
}
.banner-left__buttons {
  display: flex;
  gap: 51px;
}
.banner-left__button-link {
  color: #FFF;
  font-family: PT Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  padding: 17px 32px;
  border: 1px solid #FFF;
  box-shadow: 0px 4px 8px 0px rgba(13, 4, 51, 0.15), 0px 0px 4px 0px rgba(13, 4, 51, 0.04);
  margin-left: 3.6px;
  transition: 0.5s;
}
.banner-left__button-link:hover {
  background: #F6BA60;
  color: #000;
  margin-top: -15px;
  margin-bottom: 15px;
}
.banner-left__button-form {
  box-shadow: 0px 4px 8px 0px rgba(13, 4, 51, 0.15), 0px 0px 4px 0px #0D0433;
}
.banner-left__button-form:hover {
  margin-top: -15px;
  margin-bottom: 15px;
  box-shadow: 0 0 15px #D09B4B;
}

.banner-right__img {
  position: absolute;
  top: 0;
  right: 0;
  height: 72.8vh;
}

/* Button-style */ 
.button-style {
  color: #000;
  font-family: PT Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  padding: 16px 53px;
  background: #D09B4B;
  border: 1px solid #D9D9D9;
  transition: 0.5s;
}

/* About company */ 
.aboutСompany {
  background: #F2F2F2;
  position: relative;
}

.overlay {
  position: absolute;
  top: -154px;
  left: calc(50vw - 665px);
  max-width: 1330px;
}

.company {
  background: #F2F2F2;
  padding-top: 75px;
  display: flex;
  gap: 18.4%;
  margin-bottom: 40px;
}
.company__img {
  margin-left: 52px;
  width: 100%;
  height: 100%;
}

.company-description {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 78px;
}
.company-description__p {
  margin-right: 60px;
}

.advantages__title {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.advantages__p-box {
  display: flex;
  gap: 250px;
  align-items: center;
  margin-bottom: 160px;
  transition: 2s;
}
.advantages__p {
  position: absolute;
  width: 159px;
  margin-left: 40px;
}
.advantages__p-big {
  width: 224px;
}
.advantages__p-border {
  position: relative;
  width: 107px;
  height: 107px;
  border-top: 8px solid #F9DC78;
  border-bottom: 8px solid #F9DC78;
  border-left: 8px solid #F9DC78;
  display: flex;
  align-items: center;
}

/* Goods */ 
.goods {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F2F2F2;
}
.goods__title {
  margin-bottom: 40px;
}
.goods__button {
  margin-bottom: 80px;
}
.goods__button:hover {
  background: #D07D00;
  box-shadow: 0 0 15px #D09B4B;
}

.goods-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  margin-bottom: 40px;
}

.consumables {
  grid-row: span 2;
}

.goods-section {
  width: 610px;
  border: 5px solid #23145F;
  background: #F5F5F5;
  box-shadow: 0px 2px 4px 0px rgba(21, 21, 21, 0.08), 0px 0px 6px 0px rgba(21, 21, 21, 0.02);
  display: flex;
  flex-direction: column;
  padding: 50px 20px 20px 20px;
  position: relative;
}
.goods-section__left {
  display: flex;
  flex-direction: column;
}
.goods-section__title {
  display: inline-block;
  color: #000;
  font-family: PT Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  text-transform: uppercase;
  margin-bottom: 20px;
  max-width: 410px;
  position: relative;
}
.goods-section__title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 0;
  height: 3px;
  background-color: #000;
}
.goods-section__title:hover:before {
  width: 100%;
}
.goods-section__title::before {
  transition: width 0.5s;
}
.goods-section__link {
  display: inline;
  color: #000;
  font-family: PT Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 8px;
  position: relative;
  max-width: 285px;
}
.goods-section__link:last-child {
  margin-bottom: 83px;
}
.goods-section__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 0;
  height: 1px;
  background-color: #000;
}
.goods-section__link:hover:before {
  width: 100%;
}
.goods-section__link::before {
  transition: width 0.5s;
}
.goods-section__img {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.img-ink {
  width: 251px;
  height: 167px;
}

.contacts {
  background: linear-gradient(261deg, #23145F 2.4%, #0D023D 98.97%);
  margin-top: 1555px;
  padding-top: 370px;
  display: flex;
  justify-content: center;
}
.contacts__title {
  display: flex;
  justify-content: center;
  color: #FFF;
  margin-bottom: 40px;
}

.contacts-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  -moz-column-gap: 200px;
       column-gap: 200px;
  row-gap: 40px;
  margin-bottom: 60px;
}

.contact {
  max-width: 280px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact__photo {
  margin-top: 0px;
  margin-bottom: 15px;
  max-width: 280px;
}
.contact__position {
  padding-left: 10px;
  padding-right: 0px;
  max-width: 240px;
  position: absolute;
  bottom: 140px;
  left: 15px;
  background: #F9DC78;
}
.contact__name {
  color: #FFF;
  text-align: center;
  font-family: PT Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 10px;
}
.contact__number {
  color: #FFF;
}

/* Request */
.request {
  background: #F2F2F2;
  padding-top: 80px;
  margin-bottom: 159px;
}
.request__title {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 40px;
}
.request__term-of-use {
  color: #777;
  font-family: PT Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.request__term-of-use_link {
  text-decoration-line: underline;
  color: #777;
}

.request-box {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.questionnaire {
  padding: 10px;
  width: 505px;
  border: 10px solid #23145F;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 815px;
}
.questionnaire__input {
  height: 50px;
  padding: 12px 20px 13px 10px;
  color: #000;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid #000;
  background: #FFF;
}
.questionnaire__input::-webkit-input-placeholder {
  color: #777;
  font-family: PT Sans;
  font-size: 18px;
}
.questionnaire__textarea {
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid #000;
  background: #FFF;
  padding: 10px;
  font-family: PT Sans;
  font-size: 18px;
  color: #000;
  margin-bottom: 30px;
}
.questionnaire__submit {
  border: 1px solid #000;
  color: #000;
  font-family: PT Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  padding: 18px 32px;
  width: 250px;
  margin-bottom: 5px;
}

.recaptcha {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.request-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 505px;
  background: linear-gradient(261deg, #23145F 2.4%, #0D023D 98.97%);
  padding: 12px;
  gap: 45px;
  padding-bottom: 245px;
  height: 815px;
}
.request-info__title {
  color: #FFF;
  font-family: PT Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin-bottom: 111px;
  margin-top: 40px;
}
.request-info__block {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.request-info__img {
  margin-right: 25px;
}
.request-info__p {
  color: #FFF;
  width: 366px;
}

/* News */
.news {
  background: #F2F2F2;
}

.news-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news__title {
  margin-bottom: 40px;
  text-align: center;
}

.slider-container {
  display: flex;
  width: 1500px;
  flex-wrap: nowrap;
  justify-content: center;
}

.prev-button {
  border: none;
  margin-right: 90px;
  cursor: pointer;
}

.prev-button path {
  transition: 0.3s;
}

.prev-button:hover path {
  filter: drop-shadow(0 0 3px #402067);
}

.next-button {
  border: none;
  margin-left: 90px;
  cursor: pointer;
}

.next-button path {
  transition: 0.3s;
}

.next-button:hover path {
  filter: drop-shadow(0 0 3px #23145F);
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 116px;
}
.slider__new {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 400px;
  height: 300px;
  border-bottom: 10px solid #F9DC78;
  border-left: 10px solid #F9DC78;
}
.slider__title {
  width: 289px;
  margin-top: 33px;
  margin-bottom: 20px;
}
.slider__text {
  width: 289px;
  font-size: 16px;
}

.map {
  margin-top: 180px;
  margin-bottom: 160px;
}
.map__title {
  margin-bottom: 65px;
}

.map-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.map-content {
  display: flex;
  align-items: center;
  gap: 46px;
}

.map-left {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.map-left__img {
  width: 60px;
}
.map-left__text {
  max-width: 518px;
}
.map-left__text-mini {
  max-width: 337px;
}
.map-left__description {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

footer {
  background: linear-gradient(261deg, #23145F 2.4%, #0D023D 98.97%);
  padding-top: 132px;
  padding-bottom: 132px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__img {
  margin-right: 200px;
}
.footer__logo {
  max-width: 190px;
}
.footer__nav {
  margin-right: 185px;
  height: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}
.footer__link {
  color: #FFF;
  font-family: "PT Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-right: 100px;
  position: relative;
  transition: 0.5s;
}
.footer__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 0;
  height: 1px;
  background-color: #FFF;
}
.footer__link:hover:before {
  width: 100%;
}
.footer__link::before {
  transition: width 0.5s;
}
.footer__contacts {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.footer__contacts-block {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
}
.footer__contacts-icon {
  max-width: 30px;
}
.footer__contacts-text {
  color: #FFF;
  font-family: "PT Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  width: 305px;
}
.footer__contacts-text-mini {
  width: 172px;
}/*# sourceMappingURL=style.css.map */